.chart-container {
  display: grid;
  grid-template-areas: 
    "a a"
    "b b"
    "c d";
  grid-template-columns: auto auto;
  place-items: center;
}

.chart-container > div {
  padding: 20px;
}

.dublunes {
  grid-area: a;
}

.funnel {
  grid-area: b;
}

.invitees {
  grid-area: c;
}

.inviters {
  grid-area: d;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

table {
  font-size: 1.5rem
}

td {
  padding: 10px;
}