.chart-container {
  display: grid;
  grid-template-areas:
    'f f'
    'b b'
    'a e'
    'c d';
  grid-template-columns: auto auto;
  place-items: center;
}

.chart-container > div {
  padding: 20px;
}

.description {
  text-align: center;
  color: #aaa;
}

.padding-container {
  padding: 50px;
}

.header {
  grid-area: f;
}

.dublunes {
  grid-area: b;
}

.funnel {
  grid-area: a;
}

.locations {
  grid-area: e;
}

.invitees {
  grid-area: c;
}

.inviters {
  grid-area: d;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

table {
  font-size: 1.5rem;
}

td {
  padding: 10px;
}
